// bower:scss
@import "bower_components/normalize-scss/_normalize.scss";
@import "bower_components/susy/sass/_susy.scss";
// endbower

@import "default/_variables.scss";

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);
@import"default/_grids.scss";
@import"default/_background.scss";
@import"default/_fa.scss";
@import"default/_navbar.scss";
@import"default/_test-1.scss";
@import"default/_validation.scss";
@import"default/_kalkulator.scss";
@import"default/_angkringan.scss";
@import"default/_bscamp.scss";
@import"default/_slide.scss";