.header-angkringan{
    @include container (1024px);
    height: 100px;
    text-align:center;
    background-color: black;
    img{
        height: 100px;
        width: 100px;
    }
    .icon-laporan{
        @include span(4 last);
        height: 100px;
        ul{
            margin-top: 20px;
            li{
                @include span(2);
                list-style-type:none; 
                min-width: 100px;
                
                padding:1px;
                margin:10px;
                a{
                    text-decoration:none;
                    font-size: 20px;
                    color:white;
                }
            }
        }
    }
}
.konten-angkringan{
    @include container(1024px);
    height:780px;
    background: #eaeaea;
    .kanan{
        @include span(8 nest);
        margin-top: 20px;
        .item{
            
            background: white;
            position: relative;
            .popup{
                // @include span (12nest);
                width: 700px;
                height: 780px;
                background-color: rgba(0, 0, 0, 0.9);
                position: absolute;
                display: none;
                padding-top: 130px;
                top: -20px;
                text-align: center;
                #pilihmenu{
                    @include span(12);
                    position: relative;
                    color: white;
                    #popimg{
                        height: 100px;
                        width: 100px;
                        margin: auto;
                        img{width:100%;height:100%;}
                        padding-bottom: 6px;
                    }
                }
                #tombolpesan{
                    @include span(12);
                    height: 100px;
                    position: relative;
                    color: white;
                    #jpesan{
                        background-color: #FFF;
                        width: 50px;
                        margin: auto;
                        margin-bottom: 10px;
                        color: black;
                    }
                }
            }
            .list-item{
                .makanan{
                    @include span(12 nest);
                   
                    .jdul{
                        font-size: 20px;
                        // border: 1px solid black;
                        text-align: center;
                    }
                    .kotak{
                        @include span(1 of 5);
                            background: black;
                            height: 200px;
                            cursor: pointer;
                            padding: 2px;
                            border-right: 1px solid white;
                        img{
                            // height: 100%;
                            width: 100%;
                            height: 150px;
                            // border: 1px solid black;
                            padding: 20px;
                        }
                        label{
                            // border: 1px solid black;
                            width: 100%;
                            text-align: center;
                            height: 47px;
                            line-height: 47px;
                            cursor: pointer;
                            background-color: white;
                        }
                        &:hover{
                            background-color: rgba(0, 0, 0, 0.3);
                            // border-left: 1px solid white;
                            label{
                                background: black;
                                color: white;
                            }
                        }
                    }
                }
                .minuman{
                    @include span(12 nest);
                    margin-top: 20px;
                    .jdul{
                        font-size: 20px;
                        text-align: center;
                    }
                    .kotak{
                        @include span(1 of 5);
                        height: 200px;
                        padding: 2px;
                        border-right: 1px solid white;
                        background-color: black;
                        img{
                            // height: 100%;
                            width: 100%;
                            height: 150px;
                            padding: 20px;
                            // border: 1px solid black;
                            cursor: pointer;
                        }
                        label{
                            width: 100%;
                            text-align: center;
                            height: 47px;
                            line-height: 47px;
                            cursor: pointer;
                            background-color: white;
                        }
                        &:hover{
                            background-color: rgba(0, 0, 0, 0.3);
                            label{
                                background: black;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
        
    }
    .kiri{
        @include span(4);
        padding-right: 0;
        .layout-hitung{
            height: 780px;
            background: black;
            color:white;
            position:relative;
            .judul-layout{
                text-align:center; 
                .nomer{
                    @include span(1 of 2);
                    
                    
                    
                }
                .waktu{
                    @include span(1 of 2);
                }
                h3{
                    margin-top:0;
                    font-size: 20px;
                }
            }
            .tabel-item{
                h4{
                    text-align:center; 
                    margin-top:0; 
                }
                table{
                    
                    @include span(12);
                    tr{
                        @include span(12);
                        &:nth-child(even){
                            background-color: #dddddd;
                            color:black;
                        }
                        td{
                            @include span(3);
                            height: 40px;
                            border: 1px solid white;
                        }
                    }
                }
                .bayar{
                    font-size: 15px;
                }
            }
            
            .group-bawah{
                padding-left: 170px;
            }
            .hasil-hitung{
                background: red;
                bottom:0;
                font-size:15px;
                position: absolute;
                input{
                    color: black;
                }
            }
        }
    }
}
.laporan{
    display: none;
    @include container(1024px);
    background: black;
    color:white;
    height:780px;
    overflow: scroll;
    .judul{
        .kanan{
            @include span(6);
            h3{
                margin:0;
            }
            
        }
        .kiri{
            @include span(6);
            img{
                float: right;
                height: 100px;
            }
        }
    }
    .kotak3{
        table{
            @include span(12);
            tr{
                @include span(12);
                td{
                    @include span(1 of 4);
                    height: 30px;
                    border: 1px solid white;
                }
            }
        }
    }
}