.wrapper-bg-top{
	
	@include span(12 nest);
	min-height:100vh;
	background-image: url("/kura.jpg");
	background-position:top;
	
	
	h1{
		background-color:rgba(255, 0, 0, 0.6);
		text-align: center;
		width: 50%;
		float: left;
		margin-top: 0px;
	}
	p{
		background-color:rgba(255,255,255,0.5);
		width: 35%;
		float: right;
		margin-top: 265px;
	
	}

	@include susy-breakpoint($tablet-size){
		background-image: url("/bunaken1.jpg");
		background-size:auto 100%;
		background-position:bottom;
		// background-color: blue;
		
		h1{
			background-color:rgba(255,255,255,0.5);
			text-align: center;
			width: 40%;
			// float: right;
			}


		p{
			background-color:rgba(255,255,255,0.5);
			text-align: center;
			width: 50%;
			// float: right;
			margin-top: 10%;

			}
	}
	@include susy-breakpoint($desktop-size){
		background-image:url("/bunaken2.jpg");
		background-size:auto auto 100%;
		background-position:bottom;
		// background-color: pink;
		h1{
			background-color:rgba(255,255,255,0.5);
			text-align: center;
			width: 100%;
		}
		p{
			background-color:rgba(255,255,255,0.5);
			text-align: center;
			width: 100%;
			margin-top: 0%;
			text-indent: 20px;
		}
	}
}
	
	

