.navbar-header{
  a{
    padding-top: 10px;
    text-decoration:none;
    // background-color:red;
    margin-top:0px;
    text-align:center;
    color:silver;
  }
  .fa-apple{
    color: silver;
    padding-top:10px;
  }
  .produk{
    color:silver;
    text-decoration:none;

  }
  
}

.custom-navbar {
  background-color: rgba(0,0,0,0.5);
  // Transparent = rgba(0,0,0,0)  Translucent = (0,0,0,0.5) ;
  height: 50px;
  border-bottom: 0px;
  transition: background-color .5s ease 0s;

}

.custom-navbar.opaque {
  background-color: black;
  height: 50px;
  transition: background-color .5s ease 0s;
}

.banner {
  background: url("/iPhone7.jpg") no-repeat;
    /*background-attachment: fixed;*/
  min-height: 600px;
  position: relative;
  overflow: hidden;
  margin-top: 50px;
  /****************************************************
  * set the backround image to 100% width of the screen 
  *****************************************************/
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.banner h1,
.banner p {
  color: white;
}

.banner .row {
  margin-top: 200px;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}


div.gallery {
  @include span(12 nest);
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.footer-bs{
  @include span(12);
  background-color:rgba(0,0,0,0.5);
  font-size:xx-small;
  color:white;

  .bs{
    @include span(4);
  }
  .cn{
    @include span(4);
    color:white;
    .input-cn{
      color:black;
    }
  }
  .lf{
    @include span(4);
    .fa {
      padding: 20px;
      font-size: 15px;
      width: 20px;
      text-align: center;
      text-decoration: none;
      margin: 5px 5px;
      border-radius: 50%;
    }
    .fa:hover {
        opacity: 0.7;
    }
    .fa-facebook {
      background: #3B5998;
      color: white;
      

    }
    .fa-twitter {
      background: #55ACEE;
      color: white;
      
    }
    .fa-google {
      background: #dd4b39;
      color: white;
      
    }
    .fa-instagram {
      background: #125688;
      color: white;
      
    }     
  }
  .copy{
    @include span(12);
  }
   
  @include susy-breakpoint($desktop-size){
    
      @include span(12);
      background-color:black;
      width:100%;

    
  }
}


