.brand-a{
	
	@include span(12);
		ul{
			padding: 0;

		}

		li{
		@include span(2.4);
			text-align: center;
			list-style-type: none;
			padding:15px;
			border:2px solid yellow;
			text-shadow: 10px 10px 1px silver;


			.fa-firefox{
				color:#FF800D;
				animation: fa-spin 4s infinite linear;
				p{
					color:black;

				}

			}
			.fa-google-plus{
				color:red;
				p{
					color:black;
				}

			}
			.fa-linkedin-square {
				color:#487AD0;
			}
			.fa-trello{
				color:silver;

			}
			.fa-windows{

				color:blue;
			}
			.fa-telegram{

				color:#48B7D0;
			}
			.fa-twitter-square{

				color:#486CD0;
			}
			.fa-linux{
				
				color:none;
			}
			.fa-joomla{
				color:blue;
				background-image:linear-gradient(red,yellow);
			}
			.fa-android{
				color:#19E60E;
				

				
			}
	}
		
}
.brand-b{
	@include span (12);

	
	ul{
		padding:5px;
		
	}
	li{
		@include span (1.9);
		margin: span(0.05);

		border-radius:10px;
		background-color: black;
		text-align: center;
		list-style-type: none;
		padding:10px;
		color: white;
		
		i{
			line-height:80px; 
		}

	}
}

.colom{
	@include span(12);
	padding:30px;



	i{
		@include span(3.9);
		margin:span(0.05);
		border-radius:10px;
		background-image:linear-gradient(white,yellow);
		padding:30px;
		text-align: center;
		list-style-type: none;
		border-radius:80% 80% 80% 80%;
		height: 160px;
		width: 160px;
		transition: 0.8s;
		&:hover{
			border-radius:80% 80% 80% 80%;
			background-image:linear-gradient(orange,green);
			animation: fa-spin 6s infinite linear;
			color:white;




		}
		
	}
}
.maudy{
	position:relative;
	width:500px;
}
.awal{
	opacity:1;
	display:block;
	width:30%;
	height:30%;
	transition: .3s;
	backface-visibility:hidden;
	margin:auto;


}
.kedua{
	transition: 3s;
	opacity:0;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-20%, -20%);
	-ms-transform:translate(-20%, -20%);
	margin:auto;
}
.ketiga{
	transition: 1s;
	opacity:0;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-20%, -20%);
	-ms-transform:translate(-20%, -20%);
	margin:auto;
}
.maudy:hover .awal{
	opacity:0.3;
}
.maudy:hover .kedua{
	opacity:0.8;
}
.maudy:hover .ketiga{
	opacity:1;
}
// .text {
//   background-color: #4CAF50;
//   color: white;
//   font-size: 16px;
//   padding: 16px 32px;

// }

