.fluid-container{
    @include container;
    background: #474747;
    height:50px;
}

.container{
    @include container(1140px);

}
.header{
    background: black;
    height:40px;
    .nav{
        @include container(1140px);
        background: #474747 ;
        a{
            text-decoration: none;
            // background: white;
            color:white;
            display:inline-block;
        }
    }
}
.content{
    @include container(1140px);
    background: #e8e8e8 ;
    height:100vh;
    .row{
        @include span(12 nest);
        background: #aaa9a9 ;
        .col-2{
            @include span(2)
            border:1px solid black;
        }
        .col-3{
            @include span(3);
            border:1px solid black;
        }
        .col-6{
            @include span(6)
            border:1px solid black;
        }
        .col-9{
            @include span(9)
            border:1px solid black;
        }
        .col-10{
            @include span(10)
            border:1px solid black;
        }
    }
    .row2{
        @include span(12 nest);
        // background: #aaa9a9 ;
        height: 85px;
        width: 1200px;
        .col-1{
            @include span(1.5 nest);
            img{
                height: 85px;
            }
        }
        .col-11{
            @include span(10);
            height: 90px;


            .nama{
                background: rgba(0,0,255,0.3);
                height: 30px;
            }
            .ttl{
                background:rgba(255,0,0,0.3);
            }
            .alamat{
                background:rgba(0,0,255,0.3);
            }
            .kota{
                background:rgba(255,0,0,0.3);
            }
        }
    }
    .showreel-li{
        background: white;
        @include span(12);
        padding: 5px 80px 5px 80px;
        ul{
            padding: 0;
        }
        li{
            @include span(4);
            
            list-style-type: none;
            height: 100px;
            border: 1.5px solid black;
            text-align: center;
            width: 300px;


            
        }
    }

}

.footer{
    @include container(1140px);
}