.bgc-container{
	@include span(12 nest);
	background-color:#7FFFD4;


.buah-container{
	@include span(6);
	background-color:#7FFFD4;
	height:200px;
	// width:300px;
	// background-image: url("/dora.jpg");
	background-size: 100% 100%;

		
		
	
}
#tampilan{
		@include span(6);
		color:red;
		// float:right;
		background-color:#7FFFD4;
		// height: 150px;
		position:relative;
		// overflow: scroll;
		// width: 400px;
		.apple{
			background-image: url("/apple.svg");
			background-repeat:no-repeat;
			height: 50px;
			width: 50px; 
			float: left;
			margin:1px;

		}
		.jeruk{
			background-image: url("/jeruk.svg");
			background-repeat:no-repeat;
			height: 50px;
			width: 50px; 
			float: left;
			margin:1px;

		}
		.semangka{
			background-image: url("/semangka.svg");
			background-repeat:no-repeat;
			height: 50px;
			width: 50px; 
			float: left;
			margin:1px;

		}
			#hitung{
			background-color:black;
			position: absolute;
			bottom: 10px;
			right: 10px;
			}
		}
}

.print-container{
	@include span(12);
	background-color:#F4A460;
	height:100px;
	// width:800px;
	
}

	