.header-nav{
	@include span(12 nest);
	background-color:#1E90FF;
	color:white;
	position:fixed;

	.brand-nav{
		@include span(12);
		line-height: 45px;
		text-align: left;
		padding-top: 6px;
		.fa-android{
			color:#19E60E;}

	}

	.trigger{
		@include span(12);
		line-height: 45px;
		display: block;
		text-align: center;

	}
	#navigation-nav{
		@include span(12);
		color:white;
		text-align: center;
		display: none;

		ul {
			padding:1px;

			li{
			padding:0px;

				a{
					text-decoration: none;
				}
			}

		} 
		
	}

	@include susy-breakpoint($desktop-size){
		@include span(12);
		position:relative;
		background-color:black;
		

		.brand-nav{
			@include span(6);
			float: left;
			width: 30%;
			line-height: 40px;
			color: white;
			background-color:black;
		}

		.trigger{
			display:none;
		}
		#navigation-nav{
			@include span(6);
			float: right;
			background-color:black;
			display: block;



		ul {
			float: right;

			li{
				display:inline-block;
				padding:0px;
				a{
					text-decoration: none;
					color: white;
				}

			}
			
		}


	}
}
	


}
.content-nav{
	height:2000px;
	background-color:#FAEBD7;
	padding-top: 300px;
}
	
