.header-test{
	@include container;
	width:100%;
	background-color:black;
	color:white;
	top:0;
	position:fixed;

	.brand-test{
		@include span(12);
		border-bottom: 0.5px solid black;
		line-height: 45px;
		display: none;
		@include susy-breakpoint($desktop-size){border:none;}
	}
	.logo{
		@include span (12);
		background-color:black;
		display: inline-block;
		text-align:center;
		line-height: 42px;
		font-size: 22px;	
	}
	#trigger2{
		display: block;
		position:fixed;
		top: 5px;
		left: 5px;
		// background-color: #FFF;
		z-index: 99;
		color: red;
	}			
	.navigation-test{
		@include span(12);
		color:white;
		height: 100vh;
		background-color: black;
		// padding-left:90px;
		position:fixed;
		top:0;
		z-index: 0;
		// display: none;
		// overflow: hidden;
		// padding:40%;
		width: 100%;
	}

	@include susy-breakpoint($desktop-size){
		width:100%;
		background-color:white;
		color:black;
		position:fixed;
		border-bottom:1px solid black;
		.brand-test{
			@include span(4);
			display: inline-block;
		}
		.logo{
			display: none;
		}
		#trigger2{
			display: none;
		}
		.navigation-test{
			@include span(8);
			display: inline-block;
			color: black;
			background-color: white;
			height: 45px;
			// border-bottom:0.5px solid black;
			z-index: 99;
			position:relative;
			ul{
				li{
					display: inline-block;
					list-style-type: none;
					a{
						text-decoration: none;
						color: black;
						padding:15px;
					}
				}
				.miej-trigger{
					.dropdown-link{
						@include span (3);
						position:absolute;
						display:none;

						.sub-trigger{
							@include span(12);
							.sub{
								@include span(12);
								display: none;
								position:absolute;
								left: 100%;

								top:0;
								background-color:rgba(0,0,0,.7333);
							}
							&:hover{

								background-color: red;
								.sub{
									display: block;
								}
							}
						}
					}
					.my-trigger{
						.dropdown-link{
							@include span(1);
							// position:absolute;
							display: none;
							.sub-trigger{
								@include span(6);
								.sub{
									@include span(12);
									display:none;
									position:absolute;
									left: 100%;

									top:0;
									background-color:rgba(0,0,0,.7333);
								}
								&:hover{
									background-color:red;
									.sub{
										display:block;
									}
								}
							}
						}
					}
				
				
					&:hover{
						.miej{
							display: block;
							
						}
					}
				}

				.my-trigger{
					&:hover{
						.my{
							display: block;
						}
					}
				}
				.kont-trigger{
					&:hover{
						.kont{
							display: block;
						}
					}
				}
				.blog-trigger{
					&:hover{
						.blog{
							display: block;
						}
					}
				}
				.miej,.my,.kont,.blog,{
					display: none;
					background-color:rgba(0,0,0,.7333);
					a{
						color:white;
						min-width: 210px;
						padding:2px;

					}
				}
			}
		}
	}	
}




//===== Content ======
.content-test{
    background-color:white;
    @include span(12);
    // padding: 5px 80px 5px 80px;
    // height: 2100px;
    line-height: 30px;
    .judul{
   		padding:20px;
   		text-align:center;
   	}
	.album{
		@include span(12);
        ul{
            padding: 0;
        }
        li{
            @include span(1 of 2);   
            list-style-type: none;
            height: 300px;
            // border: 1.5px solid black;
            text-align: center;
           
            img{
            	width: 100%;
            	height: 200px;
            	&:hover{
            		opacity: 0.9;

           		 }
    		}
		    .date{
		    	display: block;
		    	height: 13px;
		    }
		    p{
		    	display: none;
		    
			}
		}
	}
	@include susy-breakpoint($desktop-size){
		@include span(12 nest);
		.judul{
			@include span(12);
		}
		.album{
			@include span(12);
			ul{
				@include span(12);
				padding:0;
				margin:0;
				li{
					@include span(1 of 3);
					height: 100%;

					img{
						width: 100%;
					}
					.artikel{
						display: block;
						line-height: 15px;
					}
				}
			}
		}

	}
}


.footer-test{
	@include span(12);
	background-color:#FFF5EE;
	// width:100%;
	// position:absolute;
	// bottom:0;
	.fa-heart{
		color:red;
	}
	@include susy-breakpoint($desktop-size){
		
			@include span(12);
			background-color:#FFF5EE;
			width:100%;

		
	}
}