.eror{
	color:red;
	font-size:10px;
	text-align:center;
}


#namadepan{
	color:blue;
	background-color:silver;
	margin-left:50px;
}
#namabelakang{
	color:blue;
	background-color:silver;
	margin-left:30px;
}
#email{
	color:blue;
	background-color:silver;
	margin-left:105px;
}